@use "global" as *;

// ドロワーメニュー
.drawer {
    position: fixed;
    left: 0;
    height: 100vh;
    width: 100vw;
    top: 0;
    background: $blue2;
    z-index: 5;
    overflow: auto;
    padding-top: rem(14);
    padding-bottom: rem(175);
    opacity:0;
    visibility: hidden;
}

.drawer__logo {
    max-width: rem(136);
    width: 100%;
}

.drawer__close-btn {
    position: relative;
    height: rem(25);
    width: rem(25);
    top: rem(-2);
    right: rem(-2.5);
}

.drawer__btn-line {
    content: "";
    background-color: #ffffff;
    height: rem(2);
    position: absolute;
    top: rem(16);
    width: rem(25);
}

.drawer__btn-line:nth-child(1) {
    transform: rotate(45deg);
}

.drawer__btn-line:nth-child(2) {
    transform: rotate(135deg);
}

.drawer__nav {
    margin-left: auto;
    margin-right: auto;
}
