@use "global" as *;

.wp-pagenavi {
    color: $blue2;
    text-align: center;
    display: flex;
    justify-content: center;
    font-family: 'Noto Sans JP', sans-serif;

    @include mq("md"){
        justify-content: center;
    }
}

.wp-pagenavi span,.wp-pagenavi a {
    border: rem(1) solid $blue2;
    padding-top: rem(6);
    padding-bottom: rem(6);
    max-width: rem(38);
    width: 100%;
    margin-left: rem(12);
    transition: background-color 0.3s, color 0.3s;
}

.wp-pagenavi span,.wp-pagenavi a:hover{
    background-color: $blue2;
    color: $white;
}

.previouspostslink{
    margin-right: rem(28);
}

.wp-pagenavi .nextpostslink{
    margin-left: rem(40);
}

