@use "global" as *;

.review__item{
    margin-top: rem(24);
}

.review__item-img{
    width: 100%;
    object-fit: cover;
}

.review__data{
    font-size: rem(12);
    font-family: 'Noto Sans JP', sans-serif;
    color: $black;
    margin-top: rem(15.5);
}

.review__title{
    color: $black;
    padding-bottom: rem(5);
    font-weight: $medium;
    font-size: rem(24);
    margin-top: rem(11);
}

.review__btn-wrapper{
    margin-top: rem(34);
}